.input-area, .output-area, .button-area
{
    width: 33%;
    padding-top: 5px;
}

.currency
{
    float: right;
}

.label
{
    padding-right: 2px;
}

#input_value, #output_value
{
    position: fixed;
    left: 5%;
    width: 6%;
}

#button
{
    float: right;
    margin-top: 10px;
}