#Button
{
    background-color: rgb(160, 198, 223);
    height: 40px;
    width: 80px;
    font-size: medium;
    margin-left: 0px;
    margin-top: 0px;
    color: white;
}

p
{
    margin: 5px 0px 0px 0px;
}


.PlayArea
{
    height: 540px;
    width: 580px;
    margin-top: 0px;
    margin-left: 0px;
    background-color: rgb(218, 211, 224);
}