#Button
{
    background-color: rgb(0, 153, 255);
    height: 45px;
    width: 90px;
    font-size: medium;
    margin-left: 0px;
    margin-top: 0px;
}

#text
{
    float: right;
}

.Score
{
    float: right;
}