.advertisement
{
	width:100px;
	height:150px; 
	border-color:black;
	border-width:2px; 
	background-color:gray; 
	color:black;
	position: fixed;
	top: 5px;
	left: 15px;

}

.header
{
	margin-left: 150px;
}


.header .logo
{
	float: left;
}

.header .title
{
	padding-top: 1%;
}

.content{
	clear: left;
	width:70%;
	margin-top: 150px;
	margin-left: 170px;
}


.image img
{
	width: 250px;
	float: left;
}

.head{
	margin-top: 100px;
	text-align: center;
}